/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    background-color: #ffffff;
    font-family: "Montserrat";
}

.navbar {
    background-color: #F8F6F1;
  }
  .nav-link {
    color: black;
    font-weight: 500;
  }
  .nav-link:hover {
    color: #3ec6de;
  }
  .btn-custom {
    background-color: #013A63;
    color: white;
    border-radius: 6px;
    padding: 6px 12px;
  }
  .navbar-brand {
    color: #0d3b5f;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: x-large;
    gap: 6px;
    transition: transform 0.5s ease, color 0.5s ease;
  }
  .navbar-brand:hover{
    color: #021F3F;
    transform: translateX(20px);
  }

  .navbar-brand img {
    height: 60px;
  }